# Real-world Data Wrangling

In this project, you will apply the skills you acquired in the course to gather and wrangle real-world data with two datasets of your choice.

You will retrieve and extract the data, assess the data programmatically and visually, accross elements of data quality and structure, and implement a cleaning strategy for the data. You will then store the updated data into your selected database/data store, combine the data, and answer a research question with the datasets.

Throughout the process, you are expected to:

1. Explain your decisions towards methods used for gathering, assessing, cleaning, storing, and answering the research question
2. Write code comments so your code is more readable

## 1. Gather data

In this section, you will extract data using two different data gathering methods and combine the data. Use at least two different types of data-gathering methods.

### **1.1.** Problem Statement
In 2-4 sentences, explain the kind of problem you want to look at and the datasets you will be wrangling for this project.

In this project exercise I will use related data sets related to Coronavirus (Covid-19) Data for analysis. I will use four datasets with:<br>
Data set with files ".csv":<br>
    1.File: us_states_covid19_daily.csv.<br>
         Link to download file: https://www.kaggle.com/code/sudalairajkumar/covid-19-analysis-of-usa/input?select=us_states_covid19_daily.csv<br>
    2.File us_state_vaccinations.csv.<br>
         Link to download file: https://www.kaggle.com/code/paultimothymooney/usa-states-vaccination-rates/input?select=us_state_vaccinations.csv<br>
Is it possible to combine these data sets into one dataset<br>ta set?

### **1.2.** Gather at least two datasets using two different data gathering methods

List of data gathering methods:

- Download data manually
- Programmatically downloading files
- Gather data by accessing APIs
- Gather and extract data from HTML files using BeautifulSoup
- Extract data from a SQL database

Each dataset must have at least two variables, and have greater than 500 data samples within each dataset.

For each dataset, briefly describe why you picked the dataset and the gathering method (2-3 full sentences), including the names and significance of the variables in the dataset. Show your work (e.g., if using an API to download the data, please include a snippet of your code). 

Load the dataset programmtically into this notebook.

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib as mpl
import zipfile
import requests
import os
import seaborn as sb
%matplotlib inline

#### Dataset 1: 
File name        : us_states_covid19_daily.csv.<br>
Type             : CSV File.<br>
Objective        : Objective of this notebook is to explore the COVID-19 data of US and its states.<br>
Method           : The data was gathered using the "Download data manually" method from "www.kaggle.com" source.<br>
About this file  : Daily level information of COVID-19 tests in US.<br>
Dataset variables:<br>
*   *date    : Date of observation.*
*   *state   : Number of states with covid-19 cases.*
*   *positive: Number of tests with positive result.*
*   *negative: Number of tests with negative result.*
*   *pending : Number of tests with positive & negative result.*
*   *hospitalizedCurrently: Number of tests with pending result.*
*   *hospitalizedCumulative: Number of hospitalized cases.*
*   *inIcuCurrently: Number of death cases.*
*   *inIcuCumulative: Total number of test taken.*
*   *onVentilatorCurrently: Date checked.*
*   *onVentilatorCumulative: Total number of tests with results.*
*   *recovered: Number of new deaths in last one day.*
*   *hash: Number of new hospitalized cases in last one day.*
*   *dateChecked: Number of new negative test results in last one day.*
*   *death: Number of new positive test results in last one day.*
*   *hospitalized: Number of new total test results in last one day.*
*   *fips  : Codes for States and Counties.*
*   *total, totalTestResults, posNeg, fips, deathIncrease, hospitalizedIncrease, negativeIncrease, positiveIncrease, totalTestResultsIncrease* and probable.N*

In [24]:
#FILL IN 1st data gathering and loading method
df_us_covid19 = pd.read_csv('us_states_covid19_daily.csv')
df_us_covid19

,date,state,positive,negative,pending,hospitalizedCurrently,hospitalizedCumulative,inIcuCurrently,inIcuCumulative,onVentilatorCurrently,...,hospitalized,total,totalTestResults,posNeg,fips,deathIncrease,hospitalizedIncrease,negativeIncrease,positiveIncrease,totalTestResultsIncrease
0,20200601,AK,467.0,53723.0,NaN,10.0,NaN,NaN,NaN,1.0,...,NaN,54190,54190,54190,2,0.0,0.0,2462.0,33.0,2495.0
1,20200601,AL,18363.0,205160.0,NaN,NaN,1856.0,NaN,591.0,NaN,...,1856.0,223523,223523,223523,1,15.0,12.0,5510.0,460.0,5970.0
2,20200601,AR,7443.0,125793.0,NaN,115.0,711.0,NaN,NaN,27.0,...,711.0,133236,133236,133236,5,0.0,0.0,3531.0,190.0,3721.0
3,20200601,AS,0.0,174.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,174,174,174,60,0.0,0.0,0.0,0.0,0.0
4,20200601,AZ,20123.0,207947.0,NaN,968.0,3018.0,377.0,NaN,238.0,...,3018.0,228070,228070,228070,4,11.0,20.0,2677.0,187.0,2864.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4940,20200126,WA,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,1,1,1,53,0.0,0.0,0.0,0.0,0.0
4941,20200125,WA,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,1,1,1,53,0.0,0.0,0.0,0.0,0.0
4942,20200124,WA,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,1,1,1,53,0.0,0.0,0.0,0.0,0.0
4943,20200123,WA,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,1,1,1,53,0.0,0.0,0.0,0.0,0.0
4944,20200122,WA,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,1,1,1,53,NaN,NaN,NaN,NaN,NaN

#### Dataset 2: 
File name        : us_state_vaccinations.csv.<br>
Type             : CSV File.<br>
Objective        : Vaccination rate affects the number of cases per day.<br>
Method           : Use the Request library to download the us_state_vaccinations.csv file from the URL "https://covid.ourworldindata.org/data/vaccinations/us_state_vaccinations.csv".<br>
About this file  : State-by-state data on COVID-19 vaccinations in the United States.<br>
Dataset variables:
*
*   *Date - date for the data entry; for some of the dates we have only the daily vaccinations, for others, only the (cumulative) total;*
*   *Total number of vaccinations - this is the absolute number of total immunizations in the country;*
*   *Total number of people vaccinated - a person, depending on the immunization scheme, will receive one or more (typically 2) vaccines; at a certain moment, the number of vaccination might be larger than the number of people;*
*   *Total number of people fully vaccinated - this is the number of people that received the entire set of immunization according to the immunization scheme (typically 2); at a certain moment in time, there might be a certain number of people that received one vaccine and another number (smaller) of people that received all vaccines in the scheme;hDaily vaccinations (raw) - for a certain data entry, the number of vaccination for that date/country;*
*   *Daily vaccinations - for a certain data entry, the number of vaccination for that date/country;*
*   *Total vaccinations per hundred - ratio (in percent) between vaccination number and total population up to the date in the country;*
*   *Total number of people vaccinated per hundred - ratio (in percent) between population immunized and total population up to the date in the country;*
*   *Total number of people fully vaccinated per hundred - ratio (in percent) between population fully immunized and total population up to the date in the country;*
*   *Number of vaccinations per day - number of daily vaccination for that day and country;*
*   *Daily vaccinations per million - ratio (in ppm) between vaccination number and total population for the current date in the country;*
*   *Vaccines used in the country - total number of vaccines used in the country (up to date);*
*   *Source name - source of the information (national authority, international organization, local al organization *   *etc*.*   *);
Source website - website of the soure o informat**ion;e country;

In [22]:
response = requests.get("https://covid.ourworldindata.org/data/vaccinations/us_state_vaccinations.csv")

In [ ]:
response.raise_for_status()

In [20]:
with open("us_state_vaccinations.tsv", "wb") as file:
    file.write(response.content)

In [21]:
df_us_covid19 = pd.read_csv('us_state_vaccinations.tsv',sep=',')
df_us_covid19

,date,location,total_vaccinations,total_distributed,people_vaccinated,people_fully_vaccinated_per_hundred,total_vaccinations_per_hundred,people_fully_vaccinated,people_vaccinated_per_hundred,distributed_per_hundred,daily_vaccinations_raw,daily_vaccinations,daily_vaccinations_per_million,share_doses_used,total_boosters,total_boosters_per_hundred
0,2021-01-12,Alabama,78134.0,377025.0,70861.0,0.15,1.59,7270.0,1.45,7.69,NaN,NaN,NaN,0.207,NaN,NaN
1,2021-01-13,Alabama,84040.0,378975.0,74792.0,0.19,1.71,9245.0,1.53,7.73,5906.0,5906.0,1205.0,0.222,NaN,NaN
2,2021-01-14,Alabama,92300.0,435350.0,80480.0,NaN,1.88,NaN,1.64,8.88,8260.0,7083.0,1445.0,0.212,NaN,NaN
3,2021-01-15,Alabama,100567.0,444650.0,86956.0,0.28,2.05,13488.0,1.77,9.07,8267.0,7478.0,1525.0,0.226,NaN,NaN
4,2021-01-16,Alabama,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7498.0,1529.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
54623,2023-05-06,Wyoming,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,77.0,133.0,NaN,NaN,NaN
54624,2023-05-07,Wyoming,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,100.0,173.0,NaN,NaN,NaN
54625,2023-05-08,Wyoming,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,123.0,213.0,NaN,NaN,NaN
54626,2023-05-09,Wyoming,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,146.0,252.0,NaN,NaN,NaN
54627,2023-05-10,Wyoming,854132.0,1281755.0,353727.0,53.15,147.58,307619.0,61.12,221.47,NaN,170.0,294.0,0.666,219773.0,37.97

In [5]:
#FILL IN 1st data gathering and loading method
data_country_vaccinations = requests.get("https://www.kaggle.com/datasets/gpreda/covid-world-vaccination-progress/download?datasetVersionNumber=249",stream=True)
data_country_vaccinations

In [6]:
data_country_vaccinations.raise_for_status()

In [7]:
data_country_vaccinations.url

'https://www.kaggle.com/account/login?titleType=dataset-downloads&showDatasetDownloadSkip=False&messageId=datasetsWelcome&returnUrl=%2Fdatasets%2Fgpreda%2Fcovid-world-vaccination-progress%2Fversions%2F249%3Fresource%3Ddownload'

In [8]:
data_country_vaccinations.headers

{'Content-Type': 'text/html; charset=utf-8', 'Date': 'Sat, 20 Apr 2024 02:58:03 GMT', 'Cache-Control': 'no-cache, no-store', 'Content-Encoding': 'br', 'Pragma': 'no-cache', 'Set-Cookie': 'CSRF-TOKEN=CfDJ8CYusWan8yNKiDQcrMXOtQGsaWWIZe2kGkyl_CbQXnrnV_ehPeMcCrCsEatnRRI3tLlPCl1FWxvAq7dtngNRSRLEonWBSnhlbqU4cMq70Q; path=/; secure; samesite=lax; httponly, XSRF-TOKEN=CfDJ8CYusWan8yNKiDQcrMXOtQEKBuvDJqV7tLrCZJ9LorHKTYQdmdFq0XXFOBnZNf1Uqg8VPObXc25QI65T7Ud5hoMMWdAAQWZR0KEhhv-Zg6bTEA; path=/; secure; samesite=lax, CLIENT-TOKEN=eyJhbGciOiJub25lIiwidHlwIjoiSldUIn0.eyJpc3MiOiJrYWdnbGUiLCJhdWQiOiJjbGllbnQiLCJzdWIiOm51bGwsIm5idCI6IjIwMjQtMDQtMjBUMDI6NTg6MDQuNDExNzYxMFoiLCJpYXQiOiIyMDI0LTA0LTIwVDAyOjU4OjA0LjQxMTc2MTBaIiwianRpIjoiNTg0YTgxM2MtOTA0MS00Mzc1LWI3NzgtNGYxMGY1NjZhMTllIiwiZXhwIjoiMjAyNC0wNS0yMFQwMjo1ODowNC40MTE3NjEwWiIsImFub24iOnRydWUsImZmIjpbIktlcm5lbHNHaXRodWJTeW5jIiwiSW1wb3J0S2VybmVsc0Zyb21Db2xhYiIsIktlcm5lbHNFeHBvcnRNZXRhZGF0YSIsIktlcm5lbHNGaXJlYmFzZUxvbmdQb2xsaW5nIiwiQ29tbXVuaXR5TG93ZXJIZWFkZXJTaXplcyIsIkFsbG93Rm9ydW1BdHRhY2htZW50cyIsIkZyb250ZW5kRXJyb3JSZXBvcnRpbmciLCJEYXRhc2V0c01hbmFnZWRGb2N1c09uT3BlbiIsIkNoYW5nZURhdGFzZXRPd25lcnNoaXBUb09yZyIsIkV4cG9ydERhdGFzZXRBc0Nyb2lzc2FudCIsIktNVXNlclByb2ZpbGUiLCJNb2RlbHNDYWNoZWRUYWdTZXJ2aWNlRW5hYmxlZCIsIkRpc2N1c3Npb25zUmVhY3Rpb25zIiwiRGF0YXNldFVwbG9hZGVyRHVwbGljYXRlRGV0ZWN0aW9uIiwiTW9kZWxzQWxsb3dTZXRWaXNpYmlsaXR5IiwiRGF0YXNldHNNZXRhZGF0YVN1Z2dlc3Rpb25zIiwiS2VybmVsc09wZW5Ob3RlYm9va0luQ29sYWIiLCJNb2RlbHNCb29rbWFya2luZyIsIktlcm5lbHNEZWxldGVLZXJuZWxGcm9tRWRpdG9yIiwiTW9kZWxzTGFuZGluZ1BhZ2VDb21tdW5pdHlTZWN0aW9uRW5hYmxlZCIsIkxpY2Vuc2VVc2VTZWNvbmRSZXZpc2lvbiJdLCJmZmQiOnsiS2VybmVsRWRpdG9yQXV0b3NhdmVUaHJvdHRsZU1zIjoiMzAwMDAiLCJFbWVyZ2VuY3lBbGVydEJhbm5lciI6Int9IiwiQ2xpZW50UnBjUmF0ZUxpbWl0UXBzIjoiNDAiLCJDbGllbnRScGNSYXRlTGltaXRRcG0iOiI1MDAiLCJGZWF0dXJlZENvbW11bml0eUNvbXBldGl0aW9ucyI6IjYwMDk1LDU0MDAwLDU3MTYzIiwiQWRkRmVhdHVyZUZsYWdzVG9QYWdlTG9hZFRhZyI6ImRpc2FibGVkIiwiTW9kZWxJZHNBbGxvd0luZmVyZW5jZSI6IjMzMDEsMzUzMyIsIk1vZGVsSW5mZXJlbmNlUGFyYW1ldGVycyI6InsgXCJtYXhfdG9rZW5zXCI6IDEyOCwgXCJ0ZW1wZXJhdHVyZVwiOiAwLjQsIFwidG9wX2tcIjogNSB9IiwiU2ltQ29tcGV0aXRpb25JZHNUb0lnbm9yZVVwbG9hZExpbWl0IjoiNjAyNDMsNjEyNTAiLCJDb21wZXRpdGlvbk1ldHJpY1RpbWVvdXRNaW51dGVzIjoiMzAiLCJUZkh1YkthZ2dsZUFubm91bmNlbWVudFVybCI6Ii9kaXNjdXNzaW9ucy9wcm9kdWN0LWZlZWRiYWNrLzQ0ODQyNSJ9LCJwaWQiOiJrYWdnbGUtMTYxNjA3Iiwic3ZjIjoid2ViLWZlIiwic2RhayI6IkFJemFTeUE0ZU5xVWRSUnNrSnNDWldWei1xTDY1NVhhNUpFTXJlRSIsImJsZCI6ImNlMjNjY2JkZmJhN2ZkMDkyYTAwMTAyNGRjNWU4YTlkNzNhMmFhNWIifQ.; path=/; secure; samesite=lax', 'Vary': 'Accept-Encoding', 'Turbolinks-Location': 'https://www.kaggle.com/account/login?titleType=dataset-downloads&showDatasetDownloadSkip=False&messageId=datasetsWelcome&returnUrl=%2Fdatasets%2Fgpreda%2Fcovid-world-vaccination-progress%2Fversions%2F249%3Fresource%3Ddownload', 'X-Frame-Options': 'SAMEORIGIN', 'Strict-Transport-Security': 'max-age=63072000; includeSubDomains; preload', 'Content-Security-Policy': "object-src 'none'; script-src 'nonce-kMcCZ+g4TJ84tjxokz883A==' 'report-sample' 'unsafe-inline' 'unsafe-eval' 'strict-dynamic' https: http:; base-uri 'none'; report-uri https://csp.withgoogle.com/csp/kaggle/20201130; frame-src 'self' https://www.kaggleusercontent.com https://www.youtube.com/embed/ https://polygraph-cool.github.io https://www.google.com/recaptcha/ https://www.docdroid.com https://www.docdroid.net https://kaggle-static.storage.googleapis.com https://kkb-production.jupyter-proxy.kaggle.net https://kkb-production.firebaseapp.com https://kaggle-metastore.firebaseapp.com https://apis.google.com https://content-sheets.googleapis.com/ https://accounts.google.com/ https://storage.googleapis.com https://docs.google.com https://drive.google.com https://calendar.google.com/;", 'X-Content-Type-Options': 'nosniff', 'Referrer-Policy': 'strict-origin-when-cross-origin', 'Via': '1.1 google', 'Alt-Svc': 'h3=":443"; ma=2592000,h3-29=":443"; ma=2592000', 'Transfer-Encoding': 'chunked'}

In [9]:
#unzip the zip file in read mode using a context manager
with zipfile.ZipFile("archive.zip","r") as zip_ref:
    zip_ref.extractall("")

#os.remove("archive.zip")

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

data = pd.read_csv("/kaggle/input/covid-world-vaccination-progress/country_vaccinations.csv")
data.head()

In [10]:
#FILL IN 2nd data gathering and loading method
data_vaccinations = pd.read_csv('us_covid19_daily.csv')
data_vaccinations

,date,states,positive,negative,pending,hospitalizedCurrently,hospitalizedCumulative,inIcuCurrently,inIcuCumulative,onVentilatorCurrently,...,hospitalized,total,totalTestResults,posNeg,fips,deathIncrease,hospitalizedIncrease,negativeIncrease,positiveIncrease,totalTestResultsIncrease
0,20200601,56,1799761,15540921.0,3455.0,33237.0,212704.0,7620.0,8485.0,3661.0,...,212704.0,17344137,17340682,17340682,NaN,469.0,2621.0,387600.0,16191.0,403791.0
1,20200531,56,1783570,15153321.0,3270.0,33840.0,210083.0,7623.0,8445.0,3669.0,...,210083.0,16940161,16936891,16936891,NaN,656.0,949.0,383661.0,22545.0,406206.0
2,20200530,56,1761025,14769660.0,1668.0,34650.0,209134.0,7956.0,8305.0,4004.0,...,209134.0,16532353,16530685,16530685,NaN,989.0,1440.0,406716.0,24454.0,431170.0
3,20200529,56,1736571,14362944.0,2978.0,35871.0,207694.0,8175.0,8235.0,4032.0,...,207694.0,16102493,16099515,16099515,NaN,1186.0,1720.0,468342.0,23934.0,492276.0
4,20200528,56,1712637,13894602.0,1906.0,36967.0,205974.0,8389.0,8109.0,4080.0,...,205974.0,15609145,15607239,15607239,NaN,1353.0,2500.0,391751.0,23007.0,414758.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
127,20200126,1,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,1,1,1,NaN,0.0,0.0,0.0,0.0,0.0
128,20200125,1,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,1,1,1,NaN,0.0,0.0,0.0,0.0,0.0
129,20200124,1,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,1,1,1,NaN,0.0,0.0,0.0,0.0,0.0
130,20200123,1,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,1,1,1,NaN,0.0,0.0,0.0,0.0,0.0
131,20200122,1,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,1,1,1,NaN,NaN,NaN,NaN,NaN,NaN

Optional data storing step: You may save your raw dataset files to the local data store before moving to the next step.

In [11]:
#Optional: store the raw data in your local data store
df_covid19 = df_us_covid19.copy()
df_covid19

,date,states,positive,negative,pending,hospitalizedCurrently,hospitalizedCumulative,inIcuCurrently,inIcuCumulative,onVentilatorCurrently,...,hospitalized,total,totalTestResults,posNeg,fips,deathIncrease,hospitalizedIncrease,negativeIncrease,positiveIncrease,totalTestResultsIncrease
0,20200601,56,1799761,15540921.0,3455.0,33237.0,212704.0,7620.0,8485.0,3661.0,...,212704.0,17344137,17340682,17340682,NaN,469.0,2621.0,387600.0,16191.0,403791.0
1,20200531,56,1783570,15153321.0,3270.0,33840.0,210083.0,7623.0,8445.0,3669.0,...,210083.0,16940161,16936891,16936891,NaN,656.0,949.0,383661.0,22545.0,406206.0
2,20200530,56,1761025,14769660.0,1668.0,34650.0,209134.0,7956.0,8305.0,4004.0,...,209134.0,16532353,16530685,16530685,NaN,989.0,1440.0,406716.0,24454.0,431170.0
3,20200529,56,1736571,14362944.0,2978.0,35871.0,207694.0,8175.0,8235.0,4032.0,...,207694.0,16102493,16099515,16099515,NaN,1186.0,1720.0,468342.0,23934.0,492276.0
4,20200528,56,1712637,13894602.0,1906.0,36967.0,205974.0,8389.0,8109.0,4080.0,...,205974.0,15609145,15607239,15607239,NaN,1353.0,2500.0,391751.0,23007.0,414758.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
127,20200126,1,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,1,1,1,NaN,0.0,0.0,0.0,0.0,0.0
128,20200125,1,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,1,1,1,NaN,0.0,0.0,0.0,0.0,0.0
129,20200124,1,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,1,1,1,NaN,0.0,0.0,0.0,0.0,0.0
130,20200123,1,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,1,1,1,NaN,0.0,0.0,0.0,0.0,0.0
131,20200122,1,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,1,1,1,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
df_vaccinations = data_vaccinations.copy()
df_vaccinations

,date,states,positive,negative,pending,hospitalizedCurrently,hospitalizedCumulative,inIcuCurrently,inIcuCumulative,onVentilatorCurrently,...,hospitalized,total,totalTestResults,posNeg,fips,deathIncrease,hospitalizedIncrease,negativeIncrease,positiveIncrease,totalTestResultsIncrease
0,20200601,56,1799761,15540921.0,3455.0,33237.0,212704.0,7620.0,8485.0,3661.0,...,212704.0,17344137,17340682,17340682,NaN,469.0,2621.0,387600.0,16191.0,403791.0
1,20200531,56,1783570,15153321.0,3270.0,33840.0,210083.0,7623.0,8445.0,3669.0,...,210083.0,16940161,16936891,16936891,NaN,656.0,949.0,383661.0,22545.0,406206.0
2,20200530,56,1761025,14769660.0,1668.0,34650.0,209134.0,7956.0,8305.0,4004.0,...,209134.0,16532353,16530685,16530685,NaN,989.0,1440.0,406716.0,24454.0,431170.0
3,20200529,56,1736571,14362944.0,2978.0,35871.0,207694.0,8175.0,8235.0,4032.0,...,207694.0,16102493,16099515,16099515,NaN,1186.0,1720.0,468342.0,23934.0,492276.0
4,20200528,56,1712637,13894602.0,1906.0,36967.0,205974.0,8389.0,8109.0,4080.0,...,205974.0,15609145,15607239,15607239,NaN,1353.0,2500.0,391751.0,23007.0,414758.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
127,20200126,1,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,1,1,1,NaN,0.0,0.0,0.0,0.0,0.0
128,20200125,1,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,1,1,1,NaN,0.0,0.0,0.0,0.0,0.0
129,20200124,1,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,1,1,1,NaN,0.0,0.0,0.0,0.0,0.0
130,20200123,1,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,1,1,1,NaN,0.0,0.0,0.0,0.0,0.0
131,20200122,1,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,1,1,1,NaN,NaN,NaN,NaN,NaN,NaN

## 2. Assess data

Assess the data according to data quality and tidiness metrics using the report below.

List **two** data quality issues and **two** tidiness issues. Assess each data issue visually **and** programmatically, then briefly describe the issue you find.  **Make sure you include justifications for the methods you use for the assessment.**

### Quality Issue 1:

In [25]:
df_covid19.head()

,date,states,positive,negative,pending,hospitalizedCurrently,hospitalizedCumulative,inIcuCurrently,inIcuCumulative,onVentilatorCurrently,...,total,totalTestResults,posNeg,fips,deathIncrease,hospitalizedIncrease,negativeIncrease,positiveIncrease,totalTestResultsIncrease,dt
0,2020-06-01,56,1799761,15540921.0,3455.0,33237.0,212704.0,7620.0,8485.0,3661.0,...,17344137,17340682,17340682,NaN,469.0,2621.0,387600.0,16191.0,403791.0,2020-06-01
1,2020-05-31,56,1783570,15153321.0,3270.0,33840.0,210083.0,7623.0,8445.0,3669.0,...,16940161,16936891,16936891,NaN,656.0,949.0,383661.0,22545.0,406206.0,2020-05-31
2,2020-05-30,56,1761025,14769660.0,1668.0,34650.0,209134.0,7956.0,8305.0,4004.0,...,16532353,16530685,16530685,NaN,989.0,1440.0,406716.0,24454.0,431170.0,2020-05-30
3,2020-05-29,56,1736571,14362944.0,2978.0,35871.0,207694.0,8175.0,8235.0,4032.0,...,16102493,16099515,16099515,NaN,1186.0,1720.0,468342.0,23934.0,492276.0,2020-05-29
4,2020-05-28,56,1712637,13894602.0,1906.0,36967.0,205974.0,8389.0,8109.0,4080.0,...,15609145,15607239,15607239,NaN,1353.0,2500.0,391751.0,23007.0,414758.0,2020-05-28

In [26]:
df_covid19.tail()

,date,states,positive,negative,pending,hospitalizedCurrently,hospitalizedCumulative,inIcuCurrently,inIcuCumulative,onVentilatorCurrently,...,total,totalTestResults,posNeg,fips,deathIncrease,hospitalizedIncrease,negativeIncrease,positiveIncrease,totalTestResultsIncrease,dt
127,2020-01-26,1,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1,1,1,NaN,0.0,0.0,0.0,0.0,0.0,2020-01-26
128,2020-01-25,1,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1,1,1,NaN,0.0,0.0,0.0,0.0,0.0,2020-01-25
129,2020-01-24,1,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1,1,1,NaN,0.0,0.0,0.0,0.0,0.0,2020-01-24
130,2020-01-23,1,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1,1,1,NaN,0.0,0.0,0.0,0.0,0.0,2020-01-23
131,2020-01-22,1,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1,1,1,NaN,NaN,NaN,NaN,NaN,NaN,2020-01-22

In [29]:
df_covid19.shape

(132, 26)

In [14]:
df_covid19.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 132 entries, 0 to 131
Data columns (total 25 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   date                      132 non-null    int64
 1   states                    132 non-null    int64
 2   positive                  132 non-null    int64
 3   negative                  94 non-null     float64
 4   pending                   90 non-null     float64
 5   hospitalizedCurrently     77 non-null     float64
 6   hospitalizedCumulative    73 non-null     float64
 7   inIcuCurrently            68 non-null     float64
 8   inIcuCumulative           69 non-null     float64
 9   onVentilatorCurrently     69 non-null     float64
 10  onVentilatorCumulative    62 non-null     float64
 11  recovered                 69 non-null     float64
 12  hash                      132 non-null    object
 13  dateChecked               132 non-null    object
 14  death                     97 non-null     float64
 15  hospitalized              73 non-null     float64
 16  total                     132 non-null    int64
 17  totalTestResults          132 non-null    int64
 18  posNeg                    132 non-null    int64
 19  fips                      0 non-null      float64
 20  deathIncrease             131 non-null    float64
 21  hospitalizedIncrease      131 non-null    float64
 22  negativeIncrease          131 non-null    float64
 23  positiveIncrease          131 non-null    float64
 24  totalTestResultsIncrease  131 non-null    float64
dtypes: float64(17), int64(6), object(2)
memory usage: 25.9+ KB

In [15]:
df_covid19.describe()

,date,states,positive,negative,pending,hospitalizedCurrently,hospitalizedCumulative,inIcuCurrently,inIcuCumulative,onVentilatorCurrently,...,hospitalized,total,totalTestResults,posNeg,fips,deathIncrease,hospitalizedIncrease,negativeIncrease,positiveIncrease,totalTestResultsIncrease
count,1.320000e+02,132.000000,1.320000e+02,9.400000e+01,90.000000,77.000000,73.000000,68.000000,69.000000,69.000000,...,73.000000,1.320000e+02,1.320000e+02,1.320000e+02,0.0,131.000000,131.000000,131.000000,131.000000,131.000000
mean,2.020035e+07,37.462121,5.100946e+05,4.392970e+06,11740.555556,38082.961039,108965.726027,9872.941176,3957.478261,4372.478261,...,108965.726027,3.646427e+06,3.638422e+06,3.638422e+06,NaN,755.763359,1623.694656,118632.984733,13738.625954,132371.610687
std,1.271820e+02,25.386300,6.180109e+05,4.645163e+06,18409.781529,18251.299534,64142.406336,3684.185683,2888.328575,1972.802960,...,64142.406336,4.993059e+06,4.994979e+06,4.994979e+06,NaN,839.776892,2219.741166,135483.529812,12832.255045,144930.168665
min,2.020012e+07,1.000000,1.000000e+00,2.300000e+01,103.000000,325.000000,1892.000000,1299.000000,74.000000,167.000000,...,1892.000000,1.000000e+00,1.000000e+00,1.000000e+00,NaN,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2.020022e+07,1.000000,2.000000e+00,2.747818e+05,2474.250000,30905.000000,55003.000000,8451.250000,1405.000000,4076.000000,...,55003.000000,2.000000e+00,2.000000e+00,2.000000e+00,NaN,0.000000,0.000000,0.000000,0.000000,0.000000
50%,2.020033e+07,56.000000,1.161440e+05,2.695791e+06,3461.500000,42854.000000,112247.000000,9742.000000,3798.000000,4848.000000,...,112247.000000,7.794955e+05,7.165955e+05,7.165955e+05,NaN,434.000000,1150.000000,83810.000000,17255.000000,102936.000000
75%,2.020043e+07,56.000000,1.041816e+06,7.339055e+06,15319.500000,53793.000000,163592.000000,12365.000000,6890.000000,5746.000000,...,163592.000000,6.113558e+06,6.109240e+06,6.109240e+06,NaN,1461.000000,2636.500000,213534.500000,25229.000000,237920.000000
max,2.020060e+07,56.000000,1.799761e+06,1.554092e+07,65709.000000,59260.000000,212704.000000,15341.000000,8485.000000,7070.000000,...,212704.000000,1.734414e+07,1.734068e+07,1.734068e+07,NaN,2746.000000,17302.000000,468342.000000,35925.000000,492276.000000

In [23]:
df_covid19.isnull().sum()

date                          0
states                        0
positive                      0
negative                     38
pending                      42
hospitalizedCurrently        55
hospitalizedCumulative       59
inIcuCurrently               64
inIcuCumulative              63
onVentilatorCurrently        63
onVentilatorCumulative       70
recovered                    63
hash                          0
dateChecked                   0
death                        35
hospitalized                 59
total                         0
totalTestResults              0
posNeg                        0
fips                        132
deathIncrease                 1
hospitalizedIncrease          1
negativeIncrease              1
positiveIncrease              1
totalTestResultsIncrease      1
dt                            0
dtype: int64

In [32]:
# Create function helps to replace null values to the average value of the column
def replace_to_mean(ob,arg): 
    ob[arg].fillna(ob[arg].mean(), inplace=True)

In [43]:
replace_to_mean(df_covid19,'negative')

In [44]:
replace_to_mean(df_covid19,'pending')

In [45]:
replace_to_mean(df_covid19,'hospitalizedCurrently')

In [46]:
replace_to_mean(df_covid19,'hospitalizedCumulative')

In [47]:
replace_to_mean(df_covid19,'inIcuCurrently')

In [48]:
replace_to_mean(df_covid19,'inIcuCumulative')

In [49]:
replace_to_mean(df_covid19,'onVentilatorCurrently')

In [50]:
replace_to_mean(df_covid19,'onVentilatorCumulative')

In [51]:
replace_to_mean(df_covid19,'recovered')

In [52]:
replace_to_mean(df_covid19,'deathIncrease')

In [53]:
replace_to_mean(df_covid19,'hospitalizedIncrease')

In [57]:
df_covid19.isnull().sum()

date                         0
states                       0
positive                     0
negative                     0
pending                      0
hospitalizedCurrently        0
hospitalizedCumulative       0
inIcuCurrently               0
inIcuCumulative              0
onVentilatorCurrently        0
onVentilatorCumulative       0
recovered                    0
hash                         0
dateChecked                  0
death                       35
hospitalized                59
total                        0
totalTestResults             0
posNeg                       0
deathIncrease                0
hospitalizedIncrease         0
negativeIncrease             1
positiveIncrease             1
totalTestResultsIncrease     1
dt                           0
dtype: int64

In [56]:
df_covid19.drop('fips', axis=1, inplace=True)

In [24]:
df_covid19.nunique()

date                        132
states                        8
positive                     97
negative                     94
pending                      90
hospitalizedCurrently        77
hospitalizedCumulative       73
inIcuCurrently               67
inIcuCumulative              69
onVentilatorCurrently        68
onVentilatorCumulative       50
recovered                    69
hash                        132
dateChecked                 132
death                        96
hospitalized                 73
total                        97
totalTestResults             97
posNeg                       97
fips                          0
deathIncrease                86
hospitalizedIncrease         74
negativeIncrease             95
positiveIncrease             96
totalTestResultsIncrease     97
dt                          132
dtype: int64

In [31]:
#Check number of NA values in df_covid19 data
print(df_covid19.isnull().sum().sum())

748

Issue and justification:
1. Kiểu dữ liệu của date đang là int64 cần phải đưa về đúng định dạnh là "%Y%m%d"
2. Giá trị các ô đang là null, cần thay thế bằng các giá trị trung bình
3. Cột fips không có dữ liệu, cần loại bỏ cột này ra khỏi tập giữ liệu

In [20]:
df_covid19['dt']=pd.to_datetime(df_covid19.date)

In [21]:
df_covid19.head()

,date,states,positive,negative,pending,hospitalizedCurrently,hospitalizedCumulative,inIcuCurrently,inIcuCumulative,onVentilatorCurrently,...,total,totalTestResults,posNeg,fips,deathIncrease,hospitalizedIncrease,negativeIncrease,positiveIncrease,totalTestResultsIncrease,dt
0,2020-06-01,56,1799761,15540921.0,3455.0,33237.0,212704.0,7620.0,8485.0,3661.0,...,17344137,17340682,17340682,NaN,469.0,2621.0,387600.0,16191.0,403791.0,2020-06-01
1,2020-05-31,56,1783570,15153321.0,3270.0,33840.0,210083.0,7623.0,8445.0,3669.0,...,16940161,16936891,16936891,NaN,656.0,949.0,383661.0,22545.0,406206.0,2020-05-31
2,2020-05-30,56,1761025,14769660.0,1668.0,34650.0,209134.0,7956.0,8305.0,4004.0,...,16532353,16530685,16530685,NaN,989.0,1440.0,406716.0,24454.0,431170.0,2020-05-30
3,2020-05-29,56,1736571,14362944.0,2978.0,35871.0,207694.0,8175.0,8235.0,4032.0,...,16102493,16099515,16099515,NaN,1186.0,1720.0,468342.0,23934.0,492276.0,2020-05-29
4,2020-05-28,56,1712637,13894602.0,1906.0,36967.0,205974.0,8389.0,8109.0,4080.0,...,15609145,15607239,15607239,NaN,1353.0,2500.0,391751.0,23007.0,414758.0,2020-05-28

In [22]:
df_covid19.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 132 entries, 0 to 131
Data columns (total 26 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   date                      132 non-null    datetime64[ns]
 1   states                    132 non-null    int64
 2   positive                  132 non-null    int64
 3   negative                  94 non-null     float64
 4   pending                   90 non-null     float64
 5   hospitalizedCurrently     77 non-null     float64
 6   hospitalizedCumulative    73 non-null     float64
 7   inIcuCurrently            68 non-null     float64
 8   inIcuCumulative           69 non-null     float64
 9   onVentilatorCurrently     69 non-null     float64
 10  onVentilatorCumulative    62 non-null     float64
 11  recovered                 69 non-null     float64
 12  hash                      132 non-null    object
 13  dateChecked               132 non-null    object
 14  death                     97 non-null     float64
 15  hospitalized              73 non-null     float64
 16  total                     132 non-null    int64
 17  totalTestResults          132 non-null    int64
 18  posNeg                    132 non-null    int64
 19  fips                      0 non-null      float64
 20  deathIncrease             131 non-null    float64
 21  hospitalizedIncrease      131 non-null    float64
 22  negativeIncrease          131 non-null    float64
 23  positiveIncrease          131 non-null    float64
 24  totalTestResultsIncrease  131 non-null    float64
 25  dt                        132 non-null    datetime64[ns]
dtypes: datetime64[ns](2), float64(17), int64(5), object(2)
memory usage: 26.9+ KB

### Quality Issue 2:

In [ ]:
#FILL IN - Inspecting the dataframe visually

In [ ]:
#FILL IN - Inspecting the dataframe programmatically

Issue and justification: *FILL IN*

### Tidiness Issue 1:

In [ ]:
#FILL IN - Inspecting the dataframe visually

In [ ]:
#FILL IN - Inspecting the dataframe programmatically

Issue and justification: *FILL IN*

### Tidiness Issue 2:

In [ ]:
#FILL IN - Inspecting the dataframe visually

In [ ]:
#FILL IN - Inspecting the dataframe programmatically

Issue and justification: *FILL IN*

## 3. Clean data
Clean the data to solve the 4 issues corresponding to data quality and tidiness found in the assessing step. **Make sure you include justifications for your cleaning decisions.**

After the cleaning for each issue, please use **either** the visually or programatical method to validate the cleaning was succesful.

At this stage, you are also expected to remove variables that are unnecessary for your analysis and combine your datasets. Depending on your datasets, you may choose to perform variable combination and elimination before or after the cleaning stage. Your dataset must have **at least** 4 variables after combining the data.

In [ ]:
# FILL IN - Make copies of the datasets to ensure the raw dataframes 
# are not impacted

### **Quality Issue 1: FILL IN**

In [ ]:
# FILL IN - Apply the cleaning strategy

In [ ]:
# FILL IN - Validate the cleaning was successful

Justification: *FILL IN*

### **Quality Issue 2: FILL IN**

In [ ]:
#FILL IN - Apply the cleaning strategy

In [ ]:
#FILL IN - Validate the cleaning was successful

Justification: *FILL IN*

### **Tidiness Issue 1: FILL IN**

In [ ]:
#FILL IN - Apply the cleaning strategy

In [ ]:
#FILL IN - Validate the cleaning was successful

Justification: *FILL IN*

### **Tidiness Issue 2: FILL IN**

In [1]:
#FILL IN - Apply the cleaning strategy

In [2]:
#FILL IN - Validate the cleaning was successful

Justification: *FILL IN*

### **Remove unnecessary variables and combine datasets**

Depending on the datasets, you can also peform the combination before the cleaning steps.

In [ ]:
#FILL IN - Remove unnecessary variables and combine datasets

## 4. Update your data store
Update your local database/data store with the cleaned data, following best practices for storing your cleaned data:

- Must maintain different instances / versions of data (raw and cleaned data)
- Must name the dataset files informatively
- Ensure both the raw and cleaned data is saved to your database/data store

In [ ]:
#FILL IN - saving data

## 5. Answer the research question

### **5.1:** Define and answer the research question 
Going back to the problem statement in step 1, use the cleaned data to answer the question you raised. Produce **at least** two visualizations using the cleaned data and explain how they help you answer the question.

*Research question:* FILL IN from answer to Step 1

In [ ]:
#Visual 1 - FILL IN

*Answer to research question:* FILL IN

In [ ]:
#Visual 2 - FILL IN

*Answer to research question:* FILL IN

### **5.2:** Reflection
In 2-4 sentences, if you had more time to complete the project, what actions would you take? For example, which data quality and structural issues would you look into further, and what research questions would you further explore?

*Answer:* FILL IN